.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2em;
  font-size: 1.25em;
  font-weight: 300;
  color: var(--text-color-1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 1em;
  border: 1px solid var(--border-color-1);
}

input,
button {
  text-align: center;
  padding: 0.5em;
  border: 1px solid var(--border-color-1);
  width: 100%;
  transition: background-color 150ms;
}

input:focus {
  background-color: var(--fill-color-1);
}

input::placeholder {
  color: var(--border-color-2);
}

button {
  cursor: pointer;
}

button:hover {
  background-color: var(--fill-color-1);
}

button:active {
  background-color: var(--fill-color-2);
}

.error-message {
  padding: 1em;
  border: 1px solid var(--border-color-1);
  color: var(--border-color-1);
}

.button-bar {
  display: flex;
  gap: 1em;
  width: 100%;
}

a {
  font-size: 0.75em;
}

a:hover {
  text-decoration: underline;
}