* {
  font-family: Roboto, Helvetica, Arial;
}

:root {
  --main-color-1: #212529;
  --main-color-2: #343a40;
  --text-color-1: #dee2e6;
  --text-color-2: #ced4da;
  --border-color-1: #f8f9fa66;
  --border-color-2: #e9ecef33;
  --fill-color-1: #e9ecef10;
  --fill-color-2: #8a8a8a10;
}

html {
  font-size: 1em;
}

@media screen and (orientation: portrait) {
  html {
    font-size: 0.75em;
  }
}

body {
  background: var(--main-color-1);
}

input,
button {
  text-align: center;
  padding: 0.5em;
  border: 1px solid var(--border-color-1);
  width: 100%;
  transition: background-color 150ms;
}

input:focus {
  background-color: var(--fill-color-1);
}

input::placeholder {
  color: var(--border-color-2);
}

button {
  cursor: pointer;
}

button:hover {
  background-color: var(--fill-color-1);
}

button:active {
  background-color: var(--fill-color-2);
}